@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="templateApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/spa/styles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/spa/scripts")
    @Scripts.Render("~/bundles/bootstrap")
</head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">ng.NET Web API</div>
                <login />
            </div>
        </div>
    </nav>
    

    <div class="container" ng-show="isLoggedIn()" ng-controller="indexController">
        <div ng-view></div>
        <br/>
        <br/>
        <div ng-include="'app/views/employee-list.html'"></div>
    </div>
</html>

